html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Quicksand", sans-serif;
  }
  :root {
    --very-light-pink: #c7c7c7;
    --darker-gray: #797979;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --white: #ffffff;
    --black: #000000;
    --dark: #232830;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
  }
  .create_account {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  .title_container {
    width: 300px;
  }
  .title {
    font-size: var(--lg);
    font-weight: 700;
    text-align: start;
  }
  .change-pass {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
  }
  .form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .form_container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .label {
    font-size: var(--sm);
    font-weight: 700;
    margin-bottom: 4px;
  }
  .input-login {
    background-color: var(--text-input-field);
    color: var(--white);
    font-weight: 300;
    border: none;
    border-radius: 8px;
    height: 40px;
    font-size: var(--md);
    padding: 8px;
    margin-bottom: 24px;
  }
  .primary-btn {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-size: var(--lg);
    font-weight: 700;
    width: 300px;
    height: 60px;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 28px;
  }
  